{% load static %}
{% load crispy_forms_tags %}





{% include 'stock/headers.html' %}



<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                     <div class="nk-block nk-block-lg">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h4 class="nk-block-title">{{title}}</h4>
                                            </div>
                                        </div>

                                        <table class="datatable-init nowrap nk-tb-list is-separate" data-auto-responsive="false">
                                            <thead>
                                                <tr class="nk-tb-item nk-tb-head">
                                                    <th class="nk-tb-col tb-col-sm"><span>COUNT</span></th>
                                                    <!-- <th class="nk-tb-col"><span>STOCK NAME</span></th> -->
                                                    <th class="nk-tb-col"><span>ID PROJECT </span></th>
                                                    <th class="nk-tb-col"><span>PROJECT NAME</span></th>
                                                    <th class="nk-tb-col"><span>TYPE</span></th>
                                                    <th class="nk-tb-col"><span>LOCALISATION</span></th>
                                                    <th class="nk-tb-col"><span>NBR LOTS TOTAL</span></th>
                                                    <th class="nk-tb-col"><span>NBILOT</span></th>
                                                    <th class="nk-tb-col"><span>DISCRIPTION</span></th>


                                                    <!-- <th class="nk-tb-col tb-col-md"><span>REORDER LEVEL</span></th> -->
                                                    
                                                    
                                                      <th class="nk-tb-col nk-tb-col-tools">
                                                        <ul class="nk-tb-actions gx-1 my-n1">
                                                            <li class="mr-n1">
                                                                <div class="dropdown">
                                                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em id="drp"  class="icon ni ni-more-h"></em></a>
                                                                </div>
                                                                <div id="drpmen" class="dropdown-menu dropdown-menu-right">
                                                                        <ul class="link-list-opt no-bdr">
                                                                            <li><a href="/task_view?type=confirmed"><em  class="icon ni ni-task"></em><span>View Confirmed Projects</span></a></li>
                                                                            <li><a href="/task_view?type=unconfirmed"><em class="icon ni ni-task"></em><span>View Unonfirmed Projects</span></a></li>
                                                                            <!-- <li><a href="/co_order/2/"><em class="icon ni ni-check"></em><span>Confirm Order</span></a></li>
                                                                            <li><a id="1s" href="javascript:void(0)"><em class="icon ni ni-trash"></em><span>Remove Task</span></a></li> -->
                                                                        </ul>
                                                                    </div>
                                                                <script>
                                                                    document.getElementById("drp").addEventListener("click",function(){
                                                                        document.getElementById("drpmen").classList.toggle("drpd")
                                                                    if(document.getElementById("drpmen").classList.contains("drpd")){
                                                                        document.getElementById("drpmen").style.display="block"
                                                                    }else{
                                                                        document.getElementById("drpmen").style.display="none"
                                                                    }
                                                                    })
                                                                </script>
                                                            </li>
                                                        </ul>
                                                    </th>
                                                </tr><!-- .nk-tb-item -->
                                            </thead>
                                            <tbody>
                                               
                                               {% for every in everything %}
                                                <tr class="nk-tb-item">
                                                    <td class="nk-tb-col">
                                                        <span class="tb-sub">{{forloop.counter}}</span>
                                                    </td>
                                                    <td class="nk-tb-col tb-col-md">
                                                        <span class="tb-sub">{{every.id}}</span>
                                                    </td>
                                                    <td class="nk-tb-col tb-col-sm">
                                                        <span class="tb-product">
                                                            <!-- <span class="title"><a href="{% url 'stock_detail' every.id %}">{{ every.item_name }}</a></span> -->
                                                            <span class="title"><a href="{% url 'stock_detail' every.id %}">{{ every.nom }}</a></span>
                                                             
                                                        </span>
                                                    </td>

                                                    
                                                    
                                                    <td class="nk-tb-col tb-col-md">
                                                        <span class="tb-sub">{{every.type}}</span>
                                                    </td>
                                                    <td class="nk-tb-col tb-col-md">
                                                        <span class="tb-sub">{{every.Localisation}}</span>
                                                    </td>
                                                    <td class="nk-tb-col tb-col-md">
                                                        <span class="tb-sub">{{every.nbrLotsTotal}}</span>
                                                    </td>
                                                    <td class="nk-tb-col tb-col-md">
                                                        <span class="tb-sub">{{every.nbILOT}}</span>
                                                    </td>
                                                    <td class="nk-tb-col tb-col-md">
                                                        <span class="tb-sub">{{every.Observation}}</span>
                                                    </td>
                                                    
                                                    <td class="nk-tb-col nk-tb-col-tools">
                                                        <ul class="nk-tb-actions gx-1 my-n1">
                                                            <li class="mr-n1">
                                                                <div class="dropdown">
                                                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <ul class="link-list-opt no-bdr">
                                                                            <li><a href="{% url 'update_project' every.id %}"><em class="icon ni ni-edit"></em><span>Edit Project</span></a></li>
                                                                            <!-- <li><a href="{% url 'stock_detail' every.id %}"><em class="icon ni ni-eye"></em><span>View Product</span></a></li> -->
                                                                            <li><a id="{{forloop.counter}}s"  href="javascript:void(0)"><em class="icon ni ni-trash" ></em><span>Remove Project</span></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr><!-- .nk-tb-item -->
                                                <script>
                                                    document.getElementById('{{forloop.counter}}s').onclick = function(){
                                                    const swalWithBootstrapButtons = Swal.mixin({
                                                  customClass: {
                                                    confirmButton: 'btn btn-success',
                                                    cancelButton: 'btn btn-danger'
                                                  },
                                                  buttonsStyling: false
                                                })
                                                
                                                swalWithBootstrapButtons.fire({
                                                  title: 'Are you sure you want to delete {{every.nom}}?',
                                                  text: "You won't be able to revert this!",
                                                  icon: 'warning',
                                                  showCancelButton: true,
                                                  confirmButtonText: '<a href="{% url 'delete_project' every.id %}">Delete</a>',
                                                  cancelButtonText: 'Cancel',
                                                  reverseButtons: true
                                                }).then((result) => {
                                                  if (result.isConfirmed) {
                                                    swalWithBootstrapButtons.fire(
                                                      'Deleted!',
                                                      '{{every.nom}} has been deleted.',
                                                      'success'
                                                    )
                                                  } else if (
                                                    /* Read more about handling dismissals below */
                                                    result.dismiss === Swal.DismissReason.cancel
                                                  ) {
                                                    swalWithBootstrapButtons.fire(
                                                      'Cancelled',
                                                      'Your item is safe :)',
                                                      'error'
                                                    )
                                                  }
                                                })
                                                };
                                                </script>
                                             {% endfor %}






                                            </tbody>
                                        </table><!-- .nk-tb-list -->
                                    </div> <!-- nk-block -->

                </div>
            </div>
        </div>
    </div>
</div>


 


{% include 'stock/footers.html' %}